@include b(b-breadcrumbs){
	position: relative;
	padding: 20px 0;

	&.slant {
		padding: 0;
		padding-top: 20px;

		&:before {
			background-repeat: no-repeat;
			background-size: 100% 100%;
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			top: -70px;
			height: 70px;
			z-index: 1;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='50' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 100,100 0,100' style='fill:white;' /%3E%3C/svg%3E");

			@include max-screen($screen-xs-max) {
				top: -40px;
				height: 40px;
			}
		}
	}

	.trail-items {
		li {
			text-transform: uppercase;
			font-family: 'zona_probold';

			@include rem((
				font-size: 12px,
				line-height: 20px
			));

			&:after {
				content: "\00bb";
				font-family: 'zona_probold';
			}

			a {
				text-decoration: none;
			}
		}
	}
}
