{% extends "base.twig" %}

{% block content %}

	<div class="l-page-section l-archive">
		<div class="container">
			{% include 'layout/acf/secondary-nav.twig' with {
				'archive' : true
			} %}
			<div class="row l-archive__row">

			</div>

			<div class="loading">
				<img src="{{site.theme.link}}/app/img/ui/ajax-loader.gif" alt="">
			</div>

			{% if function('wpmd_is_device') or (function('wpmd_is_ios') and function('wpmd_is_chrome_browser')) %}
				<div class="text-center">
					<a href="#" class="b-button b-button--tertiary js-load-more">Load More</a>
				</div>
			{% endif %}
		</div>
	</div>

	{% include 'footer.twig' %}
{% endblock %}
