@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin placeholder-style {
  	font-family: $font-family;
    font-size: 10px;
    line-height: 25px;
    color: $brandGrey;
    @include min-screen($screen-sm-min){
 		font-size: 12px;
    }
}
