<div class="l-page-section l-page-section--callback" style="background-image: url('{{site.theme.link}}/app/img/tmp/callback-bg.png')">
	<div class="b-callback-cta text-center">
		<h2>{{options.callback_title}}</h2>
		{{options.callback_content}}
		<a href="/request-a-callback" class="b-button b-button--secondary">{{options.callback_link_text}}</a>
	</div>
</div>
