{% if media_item.content %}
	{% if media_item.form_placement == 'left' %}
		{% set placement = 'pull-left' %}
	{% elseif media_item.form_placement == 'right' %}
	    {% set placement = 'pull-right' %}
	{% endif %}
{% else %}
	   {% set placement = 'col-md-offset-2' %}
{% endif %}

<div class="container">
	{% if media_item.title %}
		<div class="row">
			<div class="col-md-12 text-center l-contact-content">
				<h1>{{media_item.title}}</h1>	
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-4">
			{{media_item.content}}
		</div>

		<div class="l-contact-form col-md-8 {{placement}}">
			{% filter shortcodes %}
				{{media_item.form}}
			{% endfilter  %}
		</div>	
	</div>
</div>